{% extends 'base.html.twig' %}

{% block title %}Hello FicheFraisController!{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 sm:px-4 md:px-8 lg:px-16 xl:px-24 2xl:px-32">
        <div class="py-8">
            <h1 class="text-2xl font-bold mb-4">Fiche Frais</h1>
        </div>

        {{ include('fiche_frais/_form.html.twig') }}

        <div class="bg-white shadow-md rounded-lg p-6">
            <div class="flex flex-wrap">
                {% if fiche %}
                    <div class="bg-white shadow-md rounded-lg p-6">
                        <div class="bg-white shadow-md rounded-lg mb-8">
                            <div class="p-4">
                                <h5 class="text-xl font-semibold mb-2">{{ fiche.mois|date('F Y') }}</h5>
                                <p class="text-gray-700">Montant Validé: {{ fiche.montantValid }}</p>
                                <p class="text-gray-700">Nombre de Justifications: {{ fiche.nbJustifications }}</p>
                                <p class="text-gray-700">Date de Modifia: {{ fiche.dateModif|date('Y-m-d') }}</p>
                                <p class="text-gray-700">Status: {{ fiche.etat.libelle }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if fiche %}
            <div class="flex flex-col space-y-8">
                <!-- First table - Standard expenses -->
                <div class="w-full overflow-x-auto rounded-xl shadow-md bg-white">
                    <div class="p-4">
                        <h2 class="text-lg font-semibold mb-3">Standard Expenses</h2>
                        <div class="overflow-x-auto">
                            <table class="w-full text-left">
                                <thead class="bg-gray-50">
                                <tr>
                                    {% for ligne in fiche.ligneFraisForfaits %}
                                        <th class="py-2 px-4 border-b whitespace-nowrap">{{ ligne.fraisForfait.libelle }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% for ligne in fiche.ligneFraisForfaits %}
                                        <td class="py-2 px-4 border-b whitespace-nowrap">{{ ligne.quantite }}</td>
                                    {% endfor %}
                                </tr>
                                </tbody>
                                <tbody>
                                <tr>
                                    {% for ligne in fiche.ligneFraisForfaits %}
                                        <td class="py-2 px-4 border-b whitespace-nowrap">{{ ligne.TotalAmount}} €</td>
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Second table - Additional expenses -->
                <div class="w-full overflow-x-auto rounded-xl shadow-md bg-white">
                    <div class="p-4">
                        <h2 class="text-lg font-semibold mb-3">Additional Expenses</h2>
                        <div class="overflow-x-auto">
                            <table class="w-full text-left">
                                <thead class="bg-gray-50">
                                <tr>
                                    <th class="py-2 px-4 border-b whitespace-nowrap">Justification</th>
                                    <th class="py-2 px-4 border-b whitespace-nowrap">Amount</th>
                                    <th class="py-2 px-4 border-b whitespace-nowrap">Date</th>
                                    <th class="py-2 px-4 border-b whitespace-nowrap">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ligne in fiche.ligneFraisHorsForfaits %}
                                    <tr>
                                        <td class="py-2 px-4 border-b">{{ ligne.libelle }}</td>
                                        <td class="py-2 px-4 border-b">{{ ligne.montant }}</td>
                                        <td class="py-2 px-4 border-b">{{ ligne.date|date('Y-m-d') }}</td>
                                        <td class="py-2 px-4 border-b">
                                            {% if ligne.libelle starts with 'REFUSÉ' %}
                                                <form action="{{ path('app_fiche_frais_supression_lfhf', { id: ligne.id }) }}" method="post">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne.id) }}">
                                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                                </form>
                                            {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}