{% extends 'base.html.twig' %}

{% block title %}Hello FicheFraisController!{% endblock %}

{% block body %}
    <h1>Expense Reports</h1>

    {{ include('fiche_frais/_form.html.twig') }}

    <div class="container">
        <div class="row">
            {% if fiche%}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ fiche.mois|date('F Y') }}</h5>
                            <p class="card-text">Amount Validated: {{ fiche.montantValid }}</p>
                            <p class="card-text">Number of Justifications: {{ fiche.nbJustifications }}</p>
                            <p class="card-text">Modification Date: {{ fiche.dateModif|date('Y-m-d') }}</p>
                            <p class="card-text">Status: {{ fiche.etat.libelle }}</p>
                        </div>
                    </div>
                </div>

            {% endif %}
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            {% for ligne in fiche.ligneFraisForfaits %}
                                <th>{{ ligne.fraisForfait.libelle }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for ligne in fiche.ligneFraisForfaits %}
                        <tr>
                            <td>{{ ligne.quantite }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Justification</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ligne in fiche.ligneFraisHorsForfaits %}
                            <tr>
                                <td>{{ ligne.libelle }}</td>
                                <td>{{ ligne.montant }}</td>
                                <td>{{ ligne.date|date('Y-m-d') }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {#<a href="{{ path('app_fiche_frais_new') }}">Create new</a>#}
{% endblock %}
