{% extends 'base.html.twig' %}

{% block title %}Hello FicheFraisController!{% endblock %}

{% block body %}
    <h1>Expense Reports</h1>

    {{ include('fiche_frais/_form.html.twig') }}

    <div class="container">
        <div class="row">
            {% if fiche %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ fiche.mois|date('F Y') }}</h5>
                            <p class="card-text">Amount Validated: {{ fiche.montantValid }}</p>
                            <p class="card-text">Number of Justifications: {{ fiche.nbJustifications }}</p>
                            <p class="card-text">Modification Date: {{ fiche.dateModif|date('Y-m-d') }}</p>
                            <p class="card-text">Status: {{ fiche.etat.libelle }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


    {#<a href="{{ path('app_fiche_frais_new') }}">Create new</a>#}
{% endblock %}
