{% extends 'base.html.twig' %}

 {% block title %}Profil de {{ app.user.nom }}{% endblock %}

{% block body %}

<div class="bg-white shadow-md rounded-lg p-6 border border-gray-200 mb-6">
    <p class="text-lg font-medium text-gray-700 mb-4"><strong>Roles:</strong>
        {% for role in app.user.roles %}
            {{ role }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p class="text-lg font-medium text-gray-700 mb-4"><strong>Email:</strong> {{ app.user.email }}</p>

    <p class="text-lg font-medium text-gray-700 mb-4"><strong>2fa State:</strong>
        {% if user.isTwoFactorActivated() %}
            Activée
        {% else %}
            Désactivée
        {% endif %}
    </p>
    {% for type, messages in app.flashes %}<div class="mb-4">
        {% for message in messages %}
            <div class="p-4 mb-2 text-sm text-white {{ type == 'success' ? 'bg-green-500' : 'bg-red-500' }} rounded-lg" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    {% if user.isTwoFactorActivated() %}
        <form method="post" action="{{ path('app_disable_2fa') }}">
            <button type="submit" class="block w-full text-center bg-purple-600 text-white text-xl py-5 rounded-lg shadow hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2">
                Désactiver 2fa
            </button>
        </form>
    {% else %}
        <form method="post">
            <input type="hidden" name="2fa_form" value="1">
            <button class="block w-full text-center bg-pink-600 text-white text-xl py-5 rounded-lg shadow hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2">
                Activate 2fa
            </button>
        </form>
    {% endif %}

</div>


    <a href="{{ path('app_logout') }}" class="block w-full text-center bg-red-600 text-white text-2xl py-10 rounded-lg shadow hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">
        Se déconnecter
    </a>

</div>


{% endblock %}